// The base theme configuration file.
// DO NOT EVER write any CSS rules directly in here, as they would be repeated in every component (check vue.config.js)

// TODO: why the heck do the two below lines only work when on top?
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
$family-primary: "Fira Sans", sans-serif;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colors
$primary: #42c1c7;
$primary-invert: findColorInvert($primary);
$text: #161c2d;
$text-light: #5d7792;

// Typography
$body-size: 17px;
$title-color: $primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
